@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  box-sizing: border-box;
}

img {
  display: block;
}

#logo {
  height: 12em;
}

body {
  font-family: Ysabeau Office;
  margin: 0;
}

a {
  color: #222;
}

header {
  display: flex;
  justify-content: center;
  align-content: center;
}

header h1 {
  margin-top: 1.4em;
  margin-bottom: 0;
}

header #info {
  min-width: 12em;
}

header nav {
  margin-top: 1.5em;
}

h2 {
  font-weight: 300;
  margin-left: 0.5em;
}

h2 a {
  color: black;
  text-decoration: none;
}

main {
  display: block;
  /* max-width: 50em; */
  margin: auto;
  padding-bottom: 1em;
}

.entries {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entries .gallery {
  flex-wrap: nowrap;
}

.entry {
  /* aspect-ratio:1; */
  /* max-width:100%; */
  min-width: 10em;
  max-width: 25%;
  flex: 1 0 auto;
}

figure {
  margin: 0;
  width:100%;
  height:100%;
  position: relative;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  padding: 0.2em;
  background: rgba(0,0,0,0.5);
  display: none;
}

figure:hover figcaption {
  display: block;
}

.entry .gallery {
  flex: auto;
}

.entry img {
  width:100%;
  height:100%;
  /* flex: 1 1 auto; */
  object-fit: cover;
}

.entry video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  width: 100%;
}

.about {
  width: 100%;
  text-align: right;
  margin-bottom: 1em;
}

.about img {
  max-width:100%;
  min-width:40em;
  margin-bottom:0.5em;
}

.about a {
  padding:1em;
}

.section-index & .single {
  margin: auto;
  margin-top:2em;
  max-width:100%;
  
  width:70em;
}
.single img {
  width:100%;
}
.single video {
  width:100%;
}

.single .gallery {
  flex-direction: column;
  flex-wrap: nowrap;
}

.single .entry {
  width:100%;
}
.single .gallery .entry {
  height:100%;
}

.back-link a {
  text-decoration: none;
}
.back-link {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: auto;
}

.back-link-underline {
  text-decoration: underline;
}

#demoreel {
  width:100%;
}
