<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Ti Xu – visual grocery{% endblock %}</title>
  <link rel="stylesheet" href="/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    {% block header %}
    <a href="/"><img id="logo" src="/thumbnails/grocery-logo_square.avif"></a>

    <div id="info">
    <h1>Ti Xu</h1>
    <span id="role">visual grocer</span>
    <nav>
    {% for item in navigation %}
      <a href="{{ item.href }}">{{ item.name }}</a>
      {% if not loop.last %}
        |
      {% endif %}
    {% endfor %}
    </nav>
    </div>
    {% endblock %}
  </header>

  <main>
  {% block content %}{% endblock %}
  </main>
</body>
</html>

