{% extends "base.html" %}
{% block content %}
  {% for section in sections %}
  <section>
    <h2><a href="/{{ section.title }}">{{ section.title | title }}</a></h2>
    <div class="entries">
      {% for entry in section.entries %}
      {% if entry.type == "image" %}
        <a href="{{ section.title }}/{{ entry.name }}.html" class="entry">
        <figure class="image">
          <figcaption>{{ entry.title }}</figcaption>
          {% if entry.src.endswith("webm") %}
            <video autoplay muted loop>
              <source src="{{ entry.thumb }}" type="video/webm">
            </video>
          {% else %}
            <img src="{{ entry.thumb }}">
          {% endif %}
        </figure>
        </a>
      {% else %}
        <a href="{{ section.title }}/{{ entry.name }}.html" class="entries gallery">
        <figure class="entries gallery">        
          <figcaption>{{ entry.title }}</figcaption>
          {% for image in entry.selected_images %}
            <div class="entry image">
            <img src="{{ image.thumb }}">
            </div>
          {% endfor %}
        </figure>
        </a>
      {% endif %}
      {% endfor %}
    </div>
  </section>
  {% endfor %}
{% endblock %}
