{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="back-link"><a href="/">◁ <span class="back-link-underline">Back</span></a></div>
  <div class="section-index">
    <h2>{{ title | title }}</h2>

    {% if title == "motion" %}
      <video controls id="demoreel">
        <source src="/images/motion/reel.webm" type="video/webm">
      </video>
    {% endif %}
    <div class="entries">
      {% for entry in entries %}
      {% if entry.type == "image" %}
        <a href="/{{ title }}/{{ entry.name }}.html" class="entry">
        <figure class="image">
          <figcaption>{{ entry.title }}</figcaption>
          {% if entry.src.endswith("webm") %}
            <video autoplay muted loop playsinline disablepictureinpicture>
              <source src="/{{ entry.thumb }}" type="video/webm">
            </video>
          {% else %}
            <img alt="{{ entry.title }}" src="/{{ entry.thumb }}">
          {% endif %}
        </figure>
        </a>
      {% else %}
        <a href="/{{ title }}/{{ entry.name }}.html" class="entries gallery">
        <figure class="entries gallery">        
          <figcaption>{{ entry.title }}</figcaption>
          {% for image in entry.selected_images %}
            <div class="entry image">
            <img alt="{{ entry.title }}" src="/{{ image.thumb }}">
            </div>
          {% endfor %}
        </figure>
        </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

