{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="back-link"><a href="javascript:history.back()">◁ <span class="back-link-underline">Back</span></a></div>
  <div class="single">
    <h2>{{ entry.title }}</h2>
    {% if entry.type == "image" %}
        {% if entry.thumb.endswith("webm") %}
          <video src="/{{ entry.src }}" autoplay muted loop>
        {% else %}
          <img src="/{{ entry.src }}">
        {% endif %}
    {% else %}
      <div class=" gallery">        
        {% for image in entry.images %}
          <div class="entry image">
          <img src="/{{ image.src }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

